/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #3c763d;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Ajustar conforme necessário */
    height: auto;
    margin-left: 20px;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
}

.nav-menu ul li {
    margin: 0 10px;
}

.nav-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #00ff6a;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #0e3f1d;
    margin: 3px 0;
    transition: background-color 0.3s ease;
}

.banner {
    text-align: center;
    padding: 100px 20px;
    background-image: url('banner.jpg'); /* Substituir pelo caminho da imagem desejada */
    background-size: cover;
    color: #3c763d;
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #0e3f1d;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #79c25c;
}

section {
    padding: 40px 20px;
}

footer {
    background-color: #292b2c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content h3 {
    color: #f0ad4e;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 30px; /* Ajustar conforme necessário */
    height: auto;
}

/* Media Query para menu responsivo */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #3c763d;
        width: 100%;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu ul {
        flex-direction: column;
    }

    .hamburger-menu {
        display: flex;
    }
}

